<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>latest products</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light ">
        <a class="navbar-brand" href="#">AbaDrgam Co.ltd</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active ly">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active ly">
                <a class="nav-link" href="/comp/latest">latest</a>
               </li>
               <li class="nav-item active ly">
                <a class="nav-link" href="/comp/special-offer">special offers</a>
               </li>
            
          </li>


              </ul>
              <ul class="navbar-nav navbar-right">
                <li class="nav-item active">
                <a class="nav-link" href="">Contact Us</a>
            </li>
        
            </ul>

        </div>
</nav> 
<%- messages('messages', locals) %>

<div class="container-fluid ">
<div class="row">
<div class="col-md-6 col-lg-6 cont2 text-center">

<h1 class="display-4 text-center">login as admin</h1>
<form action="/login/login-admin" method="POST">
<div class="form-group">
  <label >user Name</label>
  <input class="form-control" name="username" placeholder="add a username" type="text">
</div>
<div class="form-group">
  <label >Password</label>
  <input class="form-control" name="password" placeholder="add a password" type="password">
</div>
<div class="form-group text-center">
<button class="btn btn-danger px-4" type="submit">Submit</button>
</div>
<h4 class=" text-center py-4">you dont have an account? <a href="/login/register2"> register now</a> </h1>

</form>
</div>
</div>
</div>








</body>
</html>