<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>latest products</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
<style>
    .navbar{
   background-color: crimson;
    margin-bottom: 20px;
font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
}
    .products{
    text-decoration: none;
    padding-top: 9px;
    padding-left: 10px;
    border-radius: 10px;
    font-size: 20px;
    color: rgb(7, 0, 0);
}
.jumbo{
    margin-top: 0px;
     background-color: rgb(24, 42, 53);
      padding-bottom: 30px;
      padding-top: 10px;
      border-radius: 2px;
      margin-bottom: 50px;
      font-weight: bold;
}
a:hover{
    text-decoration: none;
    color: cadetblue;
}
</style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light ">
        <a class="navbar-brand" href="#">AbaDrgam Co.ltd</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active ly">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            
               <li class="nav-item active ly">
                <a class="nav-link" href="/comp/special-offer">special offers</a>
               </li>
              

          </li>


              </ul>
              <ul class="navbar-nav navbar-right">
                <li class="nav-item active">
                <a class="nav-link" href="">Contact Us</a>
            </li>
            <% if(user) { %>
              <li class="nav-item active">
                <a class="nav-link" href="/login/loggout-user">log out</a></li> 
            <% } %>
            </ul>

        </div>
</nav> 

<%- messages('messages', locals) %>
<div class="jumbo " >
  <div class="products">
    <span><a href="/comp/smart" class="products"> smart collections</a></span>
    <span><a href="/comp/brand" class="products"> brand collections</a></span>
    <span><a href="/comp/zoufon" class="products"> zoufon collections</a></span>
    <span><a href="/comp/special-offer" class="products"> special offers</a></span>
  </div>
  <br> <br>
       
</div>  

<div class="container-fluid">
    <div class="row">
        <div class="col-md-7">
           <img style="width: 100%; height: 400px;" src="/img/<%=`${smart.link}`%>" >
        </div>
        <div class="col-md-5">
            <table class="table table-striped table-hover">
                <tr>    
                <td>name</td>
                <td><%= smart.perfume %></td>
                </tr>
                <tr>
                <td>collection</td>
                <td>Smart</td>
                </tr>
                <tr>
                <td>price</td>
                <td><%= smart.price %></td>
                </tr>
                <tr>
                  <td>Contact us on</td>
                  <td>0126414252</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>